@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap");

/* html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
} */

.content {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Header and Nav */
header {
  background-color: #38686b;
  display: grid;
  grid-template-columns: 10% 80% 5% 5%;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 18px;

  /* display: flex;
  justify-content: space-around;
  flex-direction: row; */
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  color: #d9d9d9;
  text-decoration: none;
  margin-top: 1.6em;
  padding: 8px;
  font-size: 1.4em;
  height: 1.2em;
  margin-right: -1.8em;
}
nav a:hover {
  background-color: #353535;
  color: #d9d9d9;
}
.logo {
  width: 100px;
  margin-bottom: 0;
  padding: 15px;
}
#logoLink {
  width: 5em;
}

#nav-facebook {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.85em;
  margin-right: 15px;
  width: 3em;
  height: 3em;
}

#nav-insta {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.85em;
  margin-right: 15px;
  width: 3em;
  height: 3em;
}

#nav-facebook-img {
  width: 3em;
  height: 3em;
}
#nav-insta-img {
  width: 3em;
  height: 3em;
}

/* Home */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 37.7% 12.3%;
  width: 80%;
  padding: 8px;
  margin: 0 auto;
  margin-top: 1em;
}

.hero-img {
  grid-column: 1/4;
  grid-row: 1/3;
  width: 100%;
  border: #353535 solid 5px;
}

#name {
  grid-column: 2/3;
  grid-row: 1;
  z-index: 2;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

#hero-button {
  grid-column: 2/3;
  grid-row: 2;
  z-index: 2;
  width: 38%;
  height: 20%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: #38686b;
  border: #353535 solid 2px;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: "Ubuntu", Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
}

#hero-button:hover {
  background-color: #353535;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

#homeHeader {
  grid-column: 1/3;
  grid-row: 1;
  margin: 0 auto;
  margin-top: 0.75em;
  font-size: 3.5em;
  font-weight: bold;
  color: #353535;
  font-family: "Oswald", Helvetica, sans-serif;
}

#image1-grid {
  grid-column: 1/2;
  grid-row: 2/4;
  margin: 0 auto;
  margin-top: 90px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

#image2-grid {
  grid-column: 2/3;
  grid-row: 2;
  margin: 0 auto;
  margin-top: 90px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#image1 {
  grid-column: 1/4;
  grid-row: 1/5;
  z-index: 0;
  width: 100%;
  border: #353535 solid 5px;
  z-index: 0;
}

#image1:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

#image2 {
  grid-column: 1/4;
  grid-row: 1/5;
  z-index: 0;
  width: 100%;
  border: #353535 solid 5px;
  z-index: 0;
}

#image2:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

#image1-button {
  grid-column: 2/3;
  grid-row: 4;
  margin: 0 auto;
  text-align: center;
  border: #353535 solid 2px;
  z-index: 1;
  background-color: #38686b;
  text-decoration: none;
  color: white;
  width: 160px;
  height: 30px;
  padding: 8px;
  font-size: 1.3em;
}

#image2-button {
  grid-column: 2/3;
  grid-row: 4;
  text-align: center;
  margin: 0 auto;
  border: #353535 solid 2px;
  z-index: 1;
  background-color: #38686b;
  text-decoration: none;
  color: white;
  width: 150px;
  height: 30px;
  padding: 8px;
  font-size: 1.3em;
}

#image1-button:hover {
  background-color: #353535;
  color: #d9d9d9;
}

#image2-button:hover {
  background-color: #353535;
  color: #d9d9d9;
}

/* Contact Us */
.contactus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 20px;
  max-height: 400px;
}

.contactus img {
  width: 5em;
}

.contactus h2 {
  grid-column: 1/3;
  grid-row: 1;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 2.5em;
  color: #353535;
}

.sociallinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  margin: 0 auto;
  text-align: center;
}

.sociallinks a {
  width: 5em;
  height: 5em;
}

.sociallinks h3 {
  grid-column: 1/3;
  grid-row: 1;
  margin: 0 auto;
}

.instagram {
  grid-column: 1/2;
  grid-row: 2;
  /* margin-bottom: 2em; */
  margin-right: 50px;
  margin-left: 10px;
}

.facebook {
  grid-column: 2/3;
  grid-row: 2;
  margin-left: 50px;
  margin-right: 10px;
  /* margin-bottom: 2em; */
}

/* ### Products ### */
#productPage {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#pg2Title {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 3.5em;
  color: #353535;
  margin: 0 auto;
  padding: 0;
  margin-top: 1%;
}

#productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.45fr;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  justify-items: center;
}

#productGrid h4 {
  font-size: larger;
}

#icebergShirt {
  max-width: 400px;
}

#logoHat {
  margin-top: 6%;
}

.icebergShirt_text {
  margin-right: 4%;
  margin-left: 4%;
}

.logoHat_text {
  margin-right: 4%;
  margin-left: 4%;
}

.instock,
.madeToOrder {
  color: green;
}

#comingsoonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  justify-items: center;
  border-top: #353535 solid 4px;
}

#comingsoonGrid img {
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
  width: 350px;
  margin-bottom: 100px;
  border: #353535 solid 5px;
}

#comingsoonTitle {
  grid-column: 1/3;
  grid-row: 1;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 2.5em;
  color: #353535;
  margin: 0 auto;
  padding: 0;
  margin-top: 1%;
  padding-top: 50px;
}

/* ###About Us### */
#aboutus_content {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#aboutus_content img {
  max-width: 500px;
  max-height: 500px;
}

#aboutH1 {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 3.5em;
  color: #353535;
  margin: 0 auto;
  padding: 0;
  margin-top: 1%;
}

.aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  /* margin: 0 auto; */
  width: 100%;
  font-size: 20px;
  max-height: 400px;
}

/* Footer */
footer {
  background-color: #38686b;
  display: grid;
  grid-template-columns: 20% 1fr 20% 10%;
  width: 100%;
  color: #d9d9d9;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

footer img {
  width: 3em;
  margin-top: 0.5em;
}

footer nav a {
  margin-top: 1.2em;
  font-size: 1em;
}

.insta-footer {
  margin-right: 0.8em;
}

.copyright {
  margin-left: 0.4em;
}
